{{ if .PeerResults }}
<h3>Resolved Peers</h3>
<div style="margin-bottom: 10px;">
  <strong>Duration:</strong> {{ .PeerDuration | formatDuration }}
</div>
<div class="table-container">
  <table>
    <tr>
      <th style="width: 50%;">Peer</th>
      <th style="width: 50%;">Duration</th>
    </tr>

    {{ range .PeerResults }}
    <tr>
      <td>{{ .Peer.Addr }}</td>
      <td>{{ .Duration | formatDuration }}</td>
    </tr>
    {{ end }}
  </table>
</div>

<h3>Result</h3>
<div style="margin-bottom: 10px;">
  <strong>Duration:</strong> {{ .PullDuration | formatDuration }}
  <strong>Size:</strong> {{ .PullSize | formatBytes }}
</div>
<div class="table-container">
  <table>
    <tr>
      <th>Identifier</th>
      <th>Type</th>
      <th>Size</th>
      <th>Duration</th>
    </tr>

    {{ range .PullResults }}
    <tr>
      <td>{{ .Identifier }}</td>
      <td>{{ .Type }}</td>
      <td>{{ .Size | formatBytes }}</td>
      <td>{{ .Duration | formatDuration }}</td>
    </tr>
    {{ end }}
  </table>
</div>
{{ else }}
<p>No peers found for image</p>
{{ end }}