name: e2e
on:
  pull_request:
permissions:
  contents: read
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - proxy-mode: iptables
            ip-family: ipv4
          - proxy-mode: iptables
            ip-family: ipv6
          - proxy-mode: ipvs
            ip-family: ipv4
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: go.mod
      - name: Setup GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
      - name: Setup Kind
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab #v1.13.0
        with:
          version: v0.29.0
          install_only: true
      - name: Run e2e
        run: make test-e2e E2E_PROXY_MODE=${{ matrix.proxy-mode }} E2E_IP_FAMILY=${{ matrix.ip-family }}
