name: nightly
on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"
permissions:
  contents: read
defaults:
  run:
    shell: bash
jobs:
  integration-containerd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c #v6.1.0
        with:
          go-version-file: ./test/integration/containerd/go.mod
          cache-dependency-path: ./test/integration/containerd/go.sum
      - name: Run tests
        run: INTEGRATION_TEST_STRATEGY="all" go test -race ./...
        working-directory: ./test/integration/containerd
  integration-kubernetes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c #v6.1.0
        with:
          go-version-file: ./test/integration/kubernetes/go.mod
          cache-dependency-path: ./test/integration/kubernetes/go.sum
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          install-only: true
      - name: Build image
        id: build
        run: |
          IMG_REF=$(make build-image)
          echo "IMG_REF=${IMG_REF}" >> $GITHUB_OUTPUT
      - name: Run tests
        run: INTEGRATION_TEST_STRATEGY="all" IMG_REF={{ steps.build.outputs.IMG_REF }} go test -race ./...
        working-directory: ./test/integration/kubernetes
